[submodule "BOSL"]
	path = BOSL
	url = git@github.com:revarbat/BOSL.git
[submodule "MCAD"]
	path = MCAD
	url = git@github.com:openscad/MCAD.git
[submodule "NopSCADlib"]
	path = NopSCADlib
	url = git@github.com:nophead/NopSCADlib.git
[submodule "scad-utils"]
	path = scad-utils
	url = git@github.com:OskarLinde/scad-utils.git
[submodule "list-comprehension-demos"]
	path = list-comprehension-demos
	url = git@github.com:openscad/list-comprehension-demos.git
